.card{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25%;

    h1{
        color: #3649F9;
        font-size: 32px;
        font-weight: 700;
    }
    p{
        font-size: 16px;
        font-weight: 400;
    }
}

.summary{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    
}

.course_card{
    border-radius: 24px;
    background-image: url('../../assets/images/landing-page/about-back.png'); /* Image path */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    color: #fff;
    .card_content{
        display: flex;
        flex-direction: column;
        width: 35%;
        margin: 60px;

        h1{
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 12px;
        }
        button{
            width: 343px;
            height: 48px;
            text-align: center;
            background-color: #3A83F1;
            border-radius: 8px;
            border: 0;
            margin-top: 16px;
            color:#fff;
        }
    }
    img{
        margin: 20px 0;
        margin-right: 90px;
        width: 30%;
    }
}
.steps{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 100px 0 60px;
    div{
        width: 180px;
    }
}


.about_course{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
//   text-align: center;
    button{
        width: 343px;
        height: 48px;
        text-align: center;
        background-color: #444CE7;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
        border: 0;
    }
}