.authors{
    display: flex;
    // justify-content: space-around;
    align-items: start;
    flex-direction: column;

    .authors_list{
        margin: 50px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap:60px;
        .link{
            width: 250px;
            height: 250px;
        }
        .author_card{
            width: 50%;
            position: relative;
            height: auto;
            .info{
                position:absolute;
                bottom: 0;
                left: 20px;
                color: #fff;
            }
            img{
                position: absolute;
                z-index: -10;
                width: 100%;
            }
        }
    }
}