header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    width: 100%;
    img{
        width: 100px;
    }
    ul{
        color: #fff;
        display: flex;
        width: 40%;
        justify-content: space-between;
        align-items: center;
        
        li{
            list-style: none;
        }
    }
    button{
        border: 0;
        height: 40px;
        width: 228px;
        border-radius: 8px;
        background-color: #fff;
        color: #002882;
        text-align: center;
    }
}